#root {
    max-width: 100%;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
  
  .logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
  }
  .logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
  .logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
  }
  
  @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
      animation: logo-spin infinite 20s linear;
    }
  }
  
  .card {
    padding: 2em;
  }
  
  .read-the-docs {
    color: #888;
  }

  body {
    background-image: url(./maxresdefault.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
  }
  #text {
  background-color: #0a0a23;
  color: #ffffff;
  padding: 10px;
  
  }
  
  #game {
    position: absolute;
    top: 5%;
    left: 35%;
    border-radius: 25px;
  max-width: 500px;
  min-width: 500px;
  max-height: 400px;
  min-height: 400px;
  background-color: transparent;
  color: transparent;
  margin: 30px auto 0px;
  padding: 10px;
  }
  
  #controls,
  #stats {
  padding: 5px;
  border: 1px solid #0a0a23;
  
  color: #0a0a23;
  }
  
  #monsterStats {
  display: none;
  border: 1px solid #0a0a23;
  padding: 5px;
  color: #ffffff;
  background-color: #c70d0d;
  }
  
  .stat {
  padding-right: 10px;
  }
  
  button {
  cursor: pointer;
  color: #0a0a23;
  background-color: #feac32;
  
  background-image: linear-gradient(#fecc4c, #ffac33);
  border: 3px solid #feac32;
  }